// Colors
@font-face {
  font-family: "Star Jedi";
  src: url("../assets/Starjedi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$color-primary-dark: rgb(42, 46, 47);
$color-primary-button: rgb(53, 57, 59);
$color-primary-red: #9e4f60;
$color-primary-gray: #cccccc;
$color-white: #fff;
$color-black: black;
$color-yellow: #ebd800;

// Spacing
$s-size: 1.2rem;
$m-size: 2rem;
$l-size: 5rem;

body {
  font-size: $s-size;
  color: $color-white;
}

h1 {
  font-family: "Star Jedi", sans-serif;
}

a {
  color: $color-white;
  &:hover {
    color: $color-yellow;
  }
}

textarea,
input {
  outline: none;
  background-color: #343434;
  color: $color-white;
  border: none;
  height: 3rem;
  width: 20rem;
  text-align: center;
  border-radius: 7px;
  &:focus {
    background-color: #454545;
  }
}

button {
  cursor: pointer;
  background-color: $color-primary-button;
  margin-top: 2em;
  border: 1px solid $color-primary-red;
  border-radius: 3px;
  color: $color-white;
  padding: 7px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  &:hover {
    background-color: $color-yellow;
    color: $color-primary-dark;
  }
}

button:disabled {
  cursor: default;
}
